body {
    font-family: "Poppins", sans-serif;
    text-align: center;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
* العنوان */
#title {
    font-size: 40px;
    color: #fff;
    margin-bottom: 20px;
    transition: 0.3s ease;
}

/* الزر */
button {
    padding: 12px 25px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background-color: #fff;
    color: #ff6b81;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s ease;
}

button:hover {
    transform: scale(1.1);
    background-color: #ff6b81;
    color: #fff;
}